kind: PersistentVolumeClaim
apiVersion: v1
metadata:
  labels:
    app: deployment-web
  name: pvc-web-deployment
spec:
  accessModes:
    - ReadWriteMany
  resources:
    requests:
      storage: 1Gi
  storageClassName: efs-sc
  volumeMode: Filesystem

